body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('bg.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
}

#app-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}

#editor-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#history-container {
    flex: 1;
    padding: 20px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    max-height: 50%;
}

textarea, .CodeMirror {
    width: 100%;
    height: calc(100% - 60px);
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#controls select, #controls input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

#controls button:hover {
    background-color: #0056b3;
}

#controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.save-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(92, 197, 115, 0.65); /* Зеленый цвет */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Немного тени */
}

#history {
    max-height: 300px; /* Задаем максимальную высоту */
    overflow-y: auto;  /* Добавляем вертикальную прокрутку, если содержимое превышает высоту */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 5px;
}

#history-container h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

#history {
    display: flex;
    flex-direction: column;
}

.history-user-name {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
    font-style: italic;
}

.history-item {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.history-item:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #3e3b3b;
}

.history-item strong {
    font-size: 1.2em;
}

.history-item span {
    font-size: 0.9em;
    color: #555;
}

#loading-indicator {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #app-container {
        flex-direction: column;
        height: 100%;
    }
    #history-container {
        max-height: 60%;
    }
}
